h1 {
    color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

}

button:hover {
    background: linear-gradient(90deg, #ff6b81, #ff4757);
    transform: scale(1.05);
  }

#login {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: rgba(0, 0, 0, 0.7); 
    padding: 40px;
    border-radius: 12px;
    max-width: 700px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5);
}
#login-btn {
    padding: 12px 24px;
    font-size: 1rem;
    font-weight: bold;
    color: #fff;
    background: linear-gradient(90deg, #ff4757, #ff6b81);
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
  }