

{% block content %}

<h1>Login</h1>
<div id="login">
<form method="post">
    {% csrf_token %}
    {{ form.as_p}}
    <button id="login-btn">Login</button>
</form>
</div>


<style>
  body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: url("https://pbs.twimg.com/media/GQXjDE_bYAAsoZI?format=jpg&name=4096x4096");
    color: black;

}
h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

}

button:hover {
    background: linear-gradient(90deg, #ff6b81, #ff4757);
    transform: scale(1.05);
  }

#login {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin:auto;
    background: rgba(0, 0, 0, 0.7); 
    padding: 40px;
    border-radius: 12px;
    max-width: 700px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5);
}
#login-btn {
    padding: 12px 24px;
    font-size: 1rem;
    font-weight: bold;
    color: #fff;
    background: linear-gradient(90deg, #ff4757, #ff6b81);
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
  }
</style>
{% endblock  %}
