
{% load static %}

{% block content %}
<div class="signup-container">
  <div class="signup-header">
    <h1 class="signup-title">Sign Up</h1>
  </div>
  {% if error_message %}
    <p class="signup-error-message">{{ error_message }}</p>
  {% endif %}
  <form method="post" class="signup-form" autocomplete="off">
    {% csrf_token %}
    <div class="signup-form-fields">
      {{ form.as_p }}
    </div>
    <button type="submit" class="signup-button">Submit!</button>
  </form>
</div>


<style>
  body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: url("https://pbs.twimg.com/media/GQXjDE_bYAAsoZI?format=jpg&name=4096x4096");
    color: black;
}

.signup-container {
   color:white;
    margin:auto;
    background: rgba(0, 0, 0, 0.7); 
    padding: 40px;
    border-radius: 12px;
    max-width: 700px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5);
}

.signup-button {
    padding: 12px 24px;
    font-size: 1rem;
    font-weight: bold;
    color: #fff;
    background: linear-gradient(90deg, #ff4757, #ff6b81);
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
  }

.signup-button:hover {
    transform: scale(1.05);
  }

</style>

{% endblock %}