{% extends "base.html" %}

{% block content %}
<h1> {{character.name}}</h1>
<h1>Normal Moves</h1>
{% for move in moves%}
<ul>
    {% if move.move_type == 'Normal' %}
        <img src="{{  move.image.url }}" >
        <li>Name: {{move.name}}</li>
        <li>Type of Move: {{move.move_type}}</li>
        <li>Damage: {{move.damage}}</li>
        <li>Block: {{move.guard_type}}</li>
        <li>Startup: {{move.start_up}}</li>
        <li>Active: {{move.active}}</li>
        <li>Recovery: {{move.recovery}}</li>
        <li>On hit: {{ move.onhit }}</li>
        <li>On block: {{ move.onblock }}</li>
        <li>Description: {{move.description}}</li>

        <a href="{% url 'move_details' move.pk%}">view</a>
        {% endif %}
    </ul>
    <h1>Special Moves</h1>
    <ul>
        {% if move.move_type == 'Special' %}
        <img src="{{  move.image.url }}" >
        <li>Name: {{move.name}}</li>
        <li>Type of Move: {{move.move_type}}</li>
        <li>Damage: {{move.damage}}</li>
        <li>Block: {{move.guard_type}}</li>
        <li>Startup: {{move.start_up}}</li>
        <li>Active: {{move.active}}</li>
        <li>Recovery: {{move.recovery}}</li>
        <li>On hit: {{ move.onhit }}</li>
        <li>On block: {{ move.onblock }}</li>
        <li>Description: {{move.description}}</li>

        <a href="{% url 'move_details' move.pk%}">view</a>
        {% endif %}
    </ul>
    <h1>Super Moves</h1>
    <ul>
        {% if move.move_type == 'Super' %}
        <img src="{{  move.image.url }}" >
        <li>Name: {{move.name}}</li>
        <li>Type of Move: {{move.move_type}}</li>
        <li>Damage: {{move.damage}}</li>
        <li>Block: {{move.guard_type}}</li>
        <li>Startup: {{move.start_up}}</li>
        <li>Active: {{move.active}}</li>
        <li>Recovery: {{move.recovery}}</li>
        <li>On hit: {{ move.onhit }}</li>
        <li>On block: {{ move.onblock }}</li>
        <li>Description: {{move.description}}</li>

        <a href="{% url 'move_details' move.pk%}">view</a>
        {% endif %}
    </ul>
<hr>
{%endfor%}
{% endblock %}
