{% extends "base.html" %}

{% block content %}

<h1 class="move-title">Normal Moves</h1>
<div class="container">
<table class="table align-middle">
    {% for move in moves%}
    {% if move.move_type == 'Normal' %}
    <div>
    <img src="{{  move.image.url }}" >
    </div>
    <tr>   
    <th>Name </th>
    <th>Type of Move </th>
    <th>Damage </th>
    <th>Block </th>
    <th>Startup </th>
    <th>Active </th>
    <th>Recovery </th>
    <th>On Hit </th>
    <th>On Block </th>
    </tr> 
    <tr>
    <td>{{move.name}}</td>
    <td>{{move.move_type}}</td>
    <td>{{move.damage}}</td>
    <td>{{move.guard_type}}</td>
    <td>{{move.start_up}}</td>
    <td>{{move.active}}</td>
    <td>{{move.recovery}}</td>
    <td>{{ move.onhit }}</td>
    <td>{{ move.onblock }}</td>
    </tr>
    <tr>
    <th>Description</th>  
    <td>
    {{ move.description }}
    </td>
    </tr>
    <tr>
    <th>View</th>  
    <td>
    <a href="{% url 'move_details' move.pk%}">view</a>
    </td>
    </tr>
    </table>
    
        {% endif %}

        {% endfor %}
 </div>


<h1 class="move-title">Special Moves</h1>
<div class="container">
<table class="table align-middle">
    {% for move in moves%}
    {% if move.move_type == 'Special' %}
    <div>
    <img src="{{  move.image.url }}" >
    </div>
    <tr>   
    <th>Name </th>
    <th>Type of Move </th>
    <th>Damage </th>
    <th>Block </th>
    <th>Startup </th>
    <th>Active </th>
    <th>Recovery </th>
    <th>On Hit </th>
    <th>On Block </th>
    </tr> 
    <tr>
    <td>{{move.name}}</td>
    <td>{{move.move_type}}</td>
    <td>{{move.damage}}</td>
    <td>{{move.guard_type}}</td>
    <td>{{move.start_up}}</td>
    <td>{{move.active}}</td>
    <td>{{move.recovery}}</td>
    <td>{{ move.onhit }}</td>
    <td>{{ move.onblock }}</td>
    </tr>
    <tr>
    <th>Description</th>  
    <td>
    {{ move.description }}
    </td>
    </tr>
    <tr>
    <th>View</th>  
    <td>
    <a href="{% url 'move_details' move.pk%}">view</a>
    </td>
    </tr>
    </table>

        {% endif %}

        {% endfor %}
 </div>
    <hr>
<h1 class="move-title">Super Moves</h1>
<div class="container">
<table class="table align-middle">
    {% for move in moves%}
    {% if move.move_type == 'Super' %}
    <div>
    <img src="{{  move.image.url }}" >
    </div>
    <tr>   
    <th>Name </th>
    <th>Type of Move </th>
    <th>Damage </th>
    <th>Block </th>
    <th>Startup </th>
    <th>Active </th>
    <th>Recovery </th>
    <th>On Hit </th>
    <th>On Block </th>
    </tr> 
    <tr>
    <td>{{move.name}}</td>
    <td>{{move.move_type}}</td>
    <td>{{move.damage}}</td>
    <td>{{move.guard_type}}</td>
    <td>{{move.start_up}}</td>
    <td>{{move.active}}</td>
    <td>{{move.recovery}}</td>
    <td>{{ move.onhit }}</td>
    <td>{{ move.onblock }}</td>
    </tr>
    <tr>
    <th>Description</th>  
    <td>
    {{ move.description }}
    </td>
    </tr>
    <tr>
    <th>View</th>  
    <td>
    <a href="{% url 'move_details' move.pk%}">view</a>
    </td>
    </tr>
    </table>   
        {% endif %}

        {% endfor %}
 </div>

{% endblock %}
