
{% extends "base.html" %}

{% block content %}
{% for game in games%}
<div id="game-div-list" >
    <a href="/frameWiki/games/{{game.id}}"><img id="game-img" src="{{ game.image.url }}"></a>
</div>

{% endfor %}
<style>
    body {
        color: white;
        background: rgba(0, 0, 0, 0.7);
    }
    #game-div-list {        
        margin: auto;
        margin-top: 20px;
        background: rgba(0, 0, 0, 0.7); 
        padding: 30px;
        border-radius: 12px;
        max-width: 550px;
        box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5);
        margin-bottom: 20px;
    }
    #game-img{
        margin: auto;
        margin-bottom:12px;
        width: 500px;
        max-width: 500px;
        transition: 0.3s;
    }
    #game-img:hover{
        transform: scale(1.05);
    }

</style>
{% endblock %}