{% extends "base.html" %}

    {% block content %}
    <div id="home">
    <div class="container-lg">
        <h1>Welcome To FrameWiki</h1>
        <p>This website is dedicated for fighting games</p>
        <p>Click on the following button to see the games</p>
        <a href="/frameWiki/games/"> 
        <button> Browse Games </button>
        </a>
    </div>
    </div>

<style>
    body{
        background-size: 100% 250%;
        background-repeat: no-repeat;
        background-image: url("https://pbs.twimg.com/media/GQXjDE_bYAAsoZI?format=jpg&name=4096x4096");
    }
</style>
    {% endblock  %}