{% extends "base.html" %}

    {% block content %}
    {% for move in moves %}
    <h1>{{move.character}}</h1>
    <ul>
        <li>Name: {{move.name}}</li>
        <li>Type of Move: {{move.move_type}}</li>
        <li>Damage: {{move.damage}}</li>
        <li>Block: {{move.guard_type}}</li>
        <li>Startup: {{move.start_up}}</li>
        <li>Active: {{move.active}}</li>
        <li>Recovery: {{move.recovery}}</li>
        <li>Description: {{move.description}}</li>
    
        <a href="{% url 'move_details' move.pk%}">view</a>

    </ul>
    {% endfor %}
    
    {% endblock  %}