{% extends "base.html" %}

{% block content %}
  <h1>{{ move.name }} ({{ move.character.name }})</h1>
  <h2>Game: {{ move.character.game.name }}</h2>

  <ul>
    <img src={{  move.image.url }} >
    <li>Type:{{ move.move_type }}</li>
    <li>Damage:{{ move.damage }}</li>
    <li>Guard:{{ move.guard_type }}</li>
    <li>Startup:{{ move.start_up }}</li>
    <li>Active:{{ move.active }}</li>
    <li>Recovery:{{ move.recovery }}</li>
    <li>On hit: {{ move.onhit }}</li>
    <li>On block: {{ move.onblock }}</li>
    <li>Description:{{ move.description }}</li>
  </ul>

  <hr>
  <a href="{% url 'move_update' move.pk %}"> Edit</a> |
  <form action="{% url 'move_delete' move.pk%}" method='post'>
            {% csrf_token %}
            <button>Delete Move</button>
        </form>

{% endblock %}
